@import '../../../styles/variables';

.search {
    background-color: rgba(255, 255, 255, 0.07);
    width: 90%;
    border-radius: 30px;
    border: 1px solid transparent;
    transition: border 0.4s ease;

    padding: 0 1rem;

    display: flex;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 1.4rem;

    &:focus-within {
        border-color: rgba($accent, 0.5);
    }

    > span {
        color: $white;
        margin-right: 10px;
        cursor: pointer;
        opacity: 0.8;
    }

    > input {
        padding: 1rem 0;
        outline: none;
        background-color: transparent;
        font-size: 15px;
        color: $white;
        width: 100%;
    }

    &::placeholder {
        color: #4a494c;
    }
}
